@model ResuelveMVC.Models.ViewModels.InvoiceValidation

@{
    ViewBag.Title = "Resuelve";
}


<div class="jumbotron">
    <h1>RESUELVE</h1>
    <p class="lead">Llamando a WebService de Facturas</p>
</div>

@using (Html.BeginForm("GetInvoicesNo", "Home", FormMethod.Post, new { encType = "multipart/form-data", id = "target", name = "target", @class = "form-horizontal", role = "form" }))
{


    @Html.AntiForgeryToken()


<h4>Obtencion de Facturas por Cliente y Fechas</h4>
<hr />

<div class="form-group col-md-12">
    <div class="col-md-7">

        <div class="form-group col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-12 control-label" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(m => m.StartDate, new { @class = "col-md-12 control-label" })
            </div>
            <div class="col-md-9">
                <div class='input-group date DivFecha' id='DivStartDate' style="float:left; width:100%">
                    @Html.TextBoxFor(q => q.StartDate, new { @style = "text-align: left;", @class = "form-control txtDate" })

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(m => m.EndDate, new { @class = "col-md-12 control-label" })
            </div>
            <div class="col-md-9">
                <div class='input-group date DivFecha' id='DivEndDate' style="float:left; width:100%">
                    @Html.TextBoxFor(q => q.EndDate, new { @style = "text-align: left;", @class = "form-control txtDate" })

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(m => m.Result, new { @class = "col-md-12 control-label" })
            </div>
            <div class="col-md-9" style="padding-top: 7px;">
                <span style="color:green; font-weight: bold;" id="spanResult">@Model.Result</span>               
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-3 col-md-12">
                <input type="submit" id="btnReviewInvoices" value="Obtner numero de Facturas" class="btn btn-primary" />
            </div>
        </div>




    </div>
    <div class="col-md-5">
        @Html.ValidationSummary("", new { @class = "text-danger" })


    </div>
</div>

}

<style>
  
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">


    function SetDatesFormat() {


        $('.DivFecha').datetimepicker({
            viewMode: 'months',
            locale: 'es',
            format: 'YYYY/MM/DD',
            maxDate: '2017/12/31',
            minDate: '2017/01/01'
        });
        $('.txtDate').attr("data-val", "false");


    }


    $(document).ready(function () {
     

        SetDatesFormat();
        
        $('#btnReviewInvoices').on('click', function (event) {
            $("#spanResult").text("");
        });


    });


</script>